.rs-catalog {
  margin-top: 65px;
}
@media (max-width: 1439.98px) {
  .rs-catalog {
    margin-top: 60px;
  }
}
@media (max-width: 1169.98px) {
  .rs-catalog {
    margin-top: 55px;
  }
}
@media (max-width: 991.98px) {
  .rs-catalog {
    margin-top: 50px;
  }
}
.rs-catalog__container h2 {
  text-transform: lowercase;
}
.rs-catalog__wrapper {
  margin-top: 40px;
}
@media (min-width: 991.98px) {
  .rs-catalog__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0px;
  }
}
@media (min-width: 991.98px) {
  .rs-catalog__opens {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .rs-catalog__opens {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  .rs-catalog__opens_btn {
    gap: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #000;
  }
}
@media (min-width: 991.98px) {
  .rs-catalog__sidebar {
    grid-column: 1 span;
  }
}
.rs-catalog__sidebar_item h4 {
  margin-bottom: 14px;
  text-transform: uppercase;
}
@media (min-width: 991.98px) {
  .rs-catalog__sidebar_item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media (max-width: 991.98px) {
  .rs-catalog__sidebar_item {
    position: fixed;
    z-index: 100000;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .rs-catalog__sidebar_item.filter-item-open {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
  .rs-catalog__sidebar_item > * {
    margin: 0 auto;
    width: 100%;
    max-width: 375px;
  }
}
.rs-catalog__sidebar_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rs-catalog__sidebar_close {
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 991.98px) {
  .rs-catalog__sidebar_close {
    display: none;
  }
}
.rs-catalog__sidebar_catalog li a {
  width: 100%;
  height: 100%;
  padding: 19.6px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  background: #f5f5f5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1439.98px) {
  .rs-catalog__sidebar_catalog li a {
    font-size: 14px;
    padding: 16px;
  }
}
@media (max-width: 1169.98px) {
  .rs-catalog__sidebar_catalog li a {
    padding: 12px;
  }
}
@media (any-hover: hover) {
  .rs-catalog__sidebar_catalog li:hover > a {
    background-color: #000;
    color: #fff;
  }
}
.rs-catalog__sidebar_catalog li._active > a {
  background-color: #000;
  color: #fff;
}
.rs-catalog__spollers_item:not(:last-child) {
  margin-bottom: 20px;
}
.rs-catalog__spollers_title {
  font-weight: 400;
  font-size: 18px;
  color: #818181;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
@media (max-width: 1439.98px) {
  .rs-catalog__spollers_title {
    font-size: 14px;
  }
}
.rs-catalog__spollers_title::after {
  content: "";
  display: block;
  width: 12px;
  height: 7px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 1.5L6 5.5L1 1.5' stroke='%23818181' stroke-width='1.5' stroke-linecap='round'/%3e%3c/svg%3e ");
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.rs-catalog__spollers_title._spoller-active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.rs-catalog__spollers_body {
  padding-top: 10px;
}
.rs-catalog__spollers_body:has(.range__filter) {
  padding-top: 20px;
}
.rs-catalog__spollers_body .checkbox__list li:not(:last-child) {
  margin-bottom: 12px;
}
.rs-catalog__spollers_body .checkbox__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}
@media (max-width: 991.98px) {
  .rs-catalog__spollers_body .checkbox__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.rs-catalog__spollers_body .checkbox__emulator {
  display: block;
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  position: relative;
  background-color: var(--color, transparent);
  border: 1px solid var(--color, #e1e1e1);
  margin-right: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 991.98px) {
  .rs-catalog__spollers_body .checkbox__emulator {
    margin-right: 0px;
    margin-left: 8px;
  }
}
.rs-catalog__spollers_body .checkbox__emulator::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
      -ms-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
  -webkit-transition: ease-out 0.15s;
  transition: ease-out 0.15s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.04183 3.91652C8.13805 3.82114 8.26793 3.76747 8.40341 3.76709C8.53888 3.76672 8.66906 3.81968 8.76581 3.91452C8.86255 4.00936 8.91807 4.13847 8.92038 4.27393C8.92269 4.40938 8.8716 4.54031 8.77814 4.63839L6.03364 8.06902C5.98647 8.11982 5.92955 8.16059 5.86626 8.1889C5.80297 8.2172 5.73463 8.23244 5.66532 8.23373C5.596 8.23501 5.52714 8.2223 5.46285 8.19637C5.39856 8.17043 5.34016 8.13179 5.29114 8.08277L3.47271 6.26364C3.42205 6.21644 3.38141 6.15951 3.35323 6.09626C3.32505 6.03301 3.3099 5.96474 3.30867 5.8955C3.30745 5.82627 3.32019 5.7575 3.34612 5.6933C3.37205 5.62909 3.41065 5.57077 3.45962 5.5218C3.50858 5.47284 3.5669 5.43424 3.63111 5.40831C3.69531 5.38238 3.76408 5.36964 3.83332 5.37086C3.90255 5.37208 3.97083 5.38724 4.03408 5.41542C4.09733 5.4436 4.15425 5.48423 4.20146 5.53489L5.64108 6.97383L8.02877 3.93164C8.03303 3.92632 8.03762 3.92126 8.04252 3.91652H8.04183Z' fill='%23818181'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.rs-catalog__spollers_body .checkbox__label {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-width: 1439.98px) {
  .rs-catalog__spollers_body .checkbox__label {
    font-size: 14px;
  }
}
.rs-catalog__spollers_body .checkbox__input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  font-size: 0px;
}
.rs-catalog__spollers_body .checkbox__input:checked ~ .checkbox__emulator::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.rs-catalog__spollers_body .range__filter .noUi-target {
  background: #e1e1e1;
  border-radius: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rs-catalog__spollers_body .range__filter .noUi-horizontal .noUi-origin {
  height: 100%;
}
.rs-catalog__spollers_body .range__filter .noUi-horizontal .noUi-handle {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.rs-catalog__spollers_body .range__filter .noUi-horizontal .noUi-handle.noUi-handle-lower {
  right: -14px;
}
.rs-catalog__spollers_body .range__filter .noUi-connect {
  background: var(--primary-color);
}
.rs-catalog__spollers_body .range__filter .noUi-horizontal .noUi-handle {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  cursor: -webkit-grab;
  cursor: grab;
  height: 14px;
  width: 14px;
  border-radius: 0%;
  background: var(--primary-color);
}
.rs-catalog__spollers_body .range__filter .noUi-horizontal .noUi-handle::before, .rs-catalog__spollers_body .range__filter .noUi-horizontal .noUi-handle::after {
  display: none;
}
.rs-catalog__spollers_body .range__slider {
  height: 2px;
  border: none;
  width: 100%;
  margin: 0px 0px 20px;
}
.rs-catalog__spollers_body .range__row {
  display: grid;
  gap: 20px;
}
@media (min-width: 1169.98px), (max-width: 991.98px) {
  .rs-catalog__spollers_body .range__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1439.98px) {
  .rs-catalog__spollers_body .range__row {
    gap: 10px;
  }
}
.rs-catalog__spollers_body .range__item {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  border: 1px solid #d6dbe0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  color: #818181;
  padding: 9px 10px;
}
@media (max-width: 1439.98px) {
  .rs-catalog__spollers_body .range__item {
    font-size: 14px;
  }
}
.rs-catalog__spollers_body .range__item span {
  margin-right: 5px;
  display: block;
}
.rs-catalog__spollers_body .range__label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.rs-catalog__spollers_body .range__input {
  width: 100%;
}
.rs-catalog__spollers_body .range__input::-webkit-input-placeholder {
  color: #818181;
}
.rs-catalog__spollers_body .range__input::-moz-placeholder {
  color: #818181;
}
.rs-catalog__spollers_body .range__input:-ms-input-placeholder {
  color: #818181;
}
.rs-catalog__spollers_body .range__input::-ms-input-placeholder {
  color: #818181;
}
.rs-catalog__spollers_body .range__input::placeholder {
  color: #818181;
}
.rs-catalog__spollers_body .range__input::-webkit-outer-spin-button, .rs-catalog__spollers_body .range__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (min-width: 991.98px) {
  .rs-catalog__content {
    grid-column: 5 span;
    padding-left: 93px;
    padding-top: 39px;
  }
}
@media (min-width: 991.98px) and (max-width: 1800px) {
  .rs-catalog__content {
    padding-left: 30px;
    padding-top: 0px;
  }
}
.rs-catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}
@media (max-width: 1439.98px) {
  .rs-catalog__list {
    gap: 40px;
  }
}
@media (max-width: 1169.98px) {
  .rs-catalog__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .rs-catalog__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 374.98px) {
  .rs-catalog__list {
    grid-template-columns: repeat(1, 1fr);
  }
}