@import "../base/_mixin";

.rs-text-block {
	margin: 163px 0px;

	@include responsive-auto(margin-top, (163, 50), (1439.98, 1169.98, 991.98));
	@include responsive-auto(margin-bottom, (163, 50), (1439.98, 1169.98, 991.98));

	// .rs-text-block__container
	&__container {
	}

	// .rs-text-block__wrapper
	&__wrapper {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 0px;
		}
	}

	// .rs-text-block__title
	&__title {
		@media (min-width: 991.98px) {
			grid-column: 1 span;
			padding-right: 20px;
		}

		@media (max-width: 991.98px) {
			margin-bottom: 20px;
		}

		h2 {
			text-transform: lowercase;
		}

		h3 {
			margin-top: 40px;
			max-width: 458px;
			font-weight: 400;
			font-size: 30px;

			@include responsive-auto(font-size, (30, 24), (1439.98, 1169.98, 991.98));
			@include responsive-auto(margin-top, (40, 20), (1439.98, 1169.98, 991.98));
		}
	}

	// .rs-text-block__items
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 64px;

		@media (min-width: 991.98px) {
			grid-column: 2 span;
		}

		@media (max-width: 1439.98px) {
			gap: 30px;
		}

		@media (max-width: 767.98px) {
			grid-template-columns: repeat(1, 1fr);
			gap: 20px;
		}
	}

	// .rs-text-block__item
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	// .rs-text-block__img
	&__img {
		width: 100%;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	// .rs-text-block__desc
	&__desc {
		font-weight: 400;
		font-size: 18px;
		color: #000;

		@media (max-width: 991.98px) {
			margin-top: 20px;
		}

		h6 {
			margin-bottom: 10px;
		}

		ul {
			li {
				list-style-type: disc;
				list-style-position: inside;

				&:not(:last-child) {
					margin-bottom: 5px;
				}
			}
		}
	}
}
